{% extends 'base.html' %}
{% block content %}
<section>
    <div class="aboutbanner">
        <h1 style="visibility: visible;">Contact Us</h1>
    </div>
</section>
<section>
    <div class="aboutstar">
        <div class="about-img">
            <img src="../static/image/about2.jpeg" height="450px" width="555px">
        </div>
        <div class="about-content">
                <h3>Our Vision Mission</h3>
                <p>Our vision is to be a premier institute for Information Technology
                education,<br> empowering individuals with the knowledge, skills, and mindset
                to excel in the<br> dynamic IT industry. We envision a future where our graduates
                become leaders and<br> change-makers, driving innovation and making a positive impact
                in the digital world.<br> Our mission is to provide high-quality IT education and 
                training that meets industry<br> standards and prepares our students for successful careers.</p>

                <p>Through our vision, mission, and core values, we aim to be a trusted
                institute that<br> prepares individuals for successful careers in Information
                Technology. By equipping<br> our students with the necessary skills, knowledge,
                and values, we aspire to<br> contribute to the growth and advancement of the IT 
                industry and empower our<br> graduates to make a difference in the digital world.</p>
        </div>
        </div>
    </div>
</section>
<section>
    <div class="aboutstar">
        <div class="about-content">
            <h3>What We Do?</h3>
            
            <p>At our IT institute, we offer a comprehensive range of programs,
                resources, and<br> services designed to empower students with the knowledge 
                and skills needed to<br> succeed in the field of Information Technology.
                Our programs are designed to equip<br> students with both theoretical knowledge 
                and practical skills through hands-on <br>projects and real-world simulations. 
                Ourinstitute is proud to have a team of<br> experienced and knowledgeable faculty
                members who are passionate about<br> teaching and mentoring students.</p>

            <p>At our IT institute, we are committed to providing a holistic educational experience<br>
                that prepares students for successful careers in Information Technology. Through<br> our 
                comprehensive programs, experienced faculty, industry collaborations, and<br> supportive 
                services, we aim to empower students to excel in the dynamic and<br> exciting world of IT.</p>

        </div>
        <div class="about-img">
            <img src="../static/image/about1.jpeg" height="450px" width="555px">
        </div>
    </div>
</section>
<section>
    <div class="section-heading">
        <h2>Our Team</h2>
    </div>
    <div class="section-img">
        <div class="single-trainer">
            <div class="trainer-img">
                <img src="../static/image/founder.jpg" height="300px" width="263px">
            </div>
            <div class="trainer-content">
                    <h3><a href="#">Rutvik Radadiya</a> <span>Founder</span></h3>
            </div>
        </div>
        <div class="single-trainer">
            <div class="trainer-img">
                <img src="../static/image/ceo.jpg" height="300px" width="263px">
            </div>
            <div class="trainer-content">
                <h3><a href="#">Smit Donda</a> <span>CEO</span></h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}