{% extends 'base.html' %}
{% block content %}
<section>
    <div class="Collegebanner">
        <h1 style="visibility: visible;">College Courses</h1>
    </div>
</section>
<section>
    <div class="clgcourse">
        <div>
            <img src="../static/image/college1.jpg" width="512px" height="341.5px">
        </div>
        <div class="clgcourse2">
                <h3>ABOUT MACLLOC COLLEGE</h3>
                <p>We are providing regular college courses education for best in industry 
                    and quality education with certificates from UGC/AICTE approved universities. 
                    Creative college of computer application is giving knowledge in theory and as 
                    well as practical knowledge which is currently upgraded in real industries.</p>
                <div class="clg">
                    <a class="collegebtn" href="/contact/">Apply Now</a>
                </div>
        </div>
        <div class="clg1">
            <img src="../static/image/college2.jpg" width="512px" height="341.5px">
        </div>
    </div>
</section>
<section>
    <div class="clgstar">
        <div class="clgstar1">
            <h3>UNDER GRADUATE COURSES</h3>
            <ul >
                <li>
                    <i class="fa-solid fa-hand-point-right"></i>BCA ( Bachelors in Computer Application )
                </li>
                <li>
                     <i class="fa-solid fa-hand-point-right"></i>B.Sc IT ( Bachelor of Science in Information Technology )
                </li>
                <li>
                     <i class="fa-solid fa-hand-point-right"></i>B.Sc ( Bachelor of Science )
                </li>
                <li>
                     <i class="fa-solid fa-hand-point-right"></i>BBA ( Bachelor of Business Administration )
                </li>
                <li>
                     <i class="fa-solid fa-hand-point-right"></i>B.Com ( Bachelor of Commerce )
                </li>
                <li>
                     <i class="fa-solid fa-hand-point-right"></i>BA ( Bachelor Arts )
                </li>
            </ul>
        </div>
        <div class="clgstar2">
            <img src="../static/image/college3.jpg" width="555px" height="360.75px">
        </div>
    </div>
</section>
{% endblock %}
